.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.word {
  font-family: DejaVu Sans Mono, monospace;
  color: white
}

body {
  background-color: lightsteelblue;
}